

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Azeret Mono;
    cursor: pointer;
}

video, canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

video {
    transform: scaleX(-1);
    display: none;
}

.gallery-menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 500px), 1fr));
    /* grid-template-columns: 1fr 1fr; */

    /* display: flex;
    flex-direction: column; */
    height: 100vh;
}
.work-link {
    /* width: fit-content; */
    font-size: calc(3.5rem + 2vw);
    text-align: center;
    padding: .25em;
    
    text-decoration: none;

    flex-grow: 1;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
    transition: filter .125s;
    /* text-shadow: 1px 1px #0f0,
                 2px 2px #0f0,
                 3px 3px #0f0,
                 4px 4px #0f0,
                 -4px -4px #0f0; */
}

h1.work-link {
    font-weight: unset;
    font-size: calc(1rem + 1vw);
    padding: 1em;
    line-height: 1.5;
    text-shadow: unset;
    color: white;
    background-color: black;
    text-wrap: balance;
}

.work-link:hover {
    filter: grayscale(100%);
}

/* .work-link span {
    background-color: white;
} */

.gallery-menu figure {
    position: relative;
    border: 1px solid magenta;
}

.gallery-menu img {
    width: 100%;
    height: initial;
    display: block;
    object-fit: cover;
}

.gallery-menu figcaption {
    position: absolute;
    inset: 0;
    top: 75%;
    display: grid;
    place-items: center;
    background-color: #fffa;
}

/* .work-link[data-name="ANNIE"] {
    background-image: url(../images/thumbs/1.png);
} */

/* .work-link[data-name="CHLOE"] {
    background-image: url(../images/thumbs/2.png);
} */

.work-link[data-name="EMRYS"] {
    background-image: url(../images/thumbs/emrys.jpg);
}

.work-link[data-name="ERNEST"] {
    background-image: url(../images/thumbs/ernest.jpg);
}

/* .work-link[data-name="JUN"] {
    background-image: url(../images/thumbs/5.png);
} */

/* .work-link[data-name="MEADOW"] {
    background-image: url(../images/thumbs/6.png);
} */

.work-link[data-name="NICOLE"] {
    background-image: url(../images/thumbs/nicole.jpg);
}

.work-link[data-name="REID"] {
    background-image: url(../images/thumbs/reid.jpg);
}

/* .work-link[data-name="THEO"] {
    background-image: url(../images/thumbs/9.png);
} */

.work-link[data-name="ZECHEN"] {
    background-image: url(../images/thumbs/zechen.jpg);
}