@font-face {
    font-family: "Bruno Ace SC";
    src: url("fonts/Bruno_Ace_SC/BrunoAceSC-Regular.ttf")
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bruno Ace SC;
    cursor: pointer;
}

video, canvas {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}

video {
    transform: scaleX(-1);
    display: none;
}

canvas {
    /* z-index: -1; */
}

.gallery-menu {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr)); */
    grid-template-columns: 1fr 1fr;

    /* display: flex;
    flex-direction: column; */
    height: 100vh;
}
.work-link {
    /* width: fit-content; */
    font-size: calc(1rem + 2vw);
    text-align: center;
    
    text-decoration: none;

    flex-grow: 1;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
    color: #fff;
    text-shadow: 0 0 10px #000;
    /* text-shadow: 1px 1px #0f0,
                 2px 2px #0f0,
                 3px 3px #0f0,
                 4px 4px #0f0,
                 -4px -4px #0f0; */
}

.work-link:hover {
    filter: contrast(10)
}

/* .work-link span {
    background-color: white;
} */

.gallery-menu figure {
    position: relative;
    border: 1px solid magenta;
}

.gallery-menu img {
    width: 100%;
    height: initial;
    display: block;
    object-fit: cover;
}

.gallery-menu figcaption {
    position: absolute;
    inset: 0;
    top: 75%;
    display: grid;
    place-items: center;
    background-color: #fffa;
}

.work-link[data-name="ANNIE"] {
    background-image: url(../images/thumbs/1.png);
}

.work-link[data-name="CHLOE"] {
    background-image: url(../images/thumbs/2.png);
}

.work-link[data-name="EMRYS"] {
    background-image: url(../images/thumbs/3.png);
}

.work-link[data-name="ERNEST"] {
    background-image: url(../images/thumbs/4.png);
}

.work-link[data-name="JUN"] {
    background-image: url(../images/thumbs/5.png);
}

.work-link[data-name="MEADOW"] {
    background-image: url(../images/thumbs/6.png);
}

.work-link[data-name="NICOLE"] {
    background-image: url(../images/thumbs/7.png);
}

.work-link[data-name="REID"] {
    background-image: url(../images/thumbs/8.png);
}

.work-link[data-name="THEO"] {
    background-image: url(../images/thumbs/9.png);
}

.work-link[data-name="ZECHEN"] {
    background-image: url(../images/thumbs/10.png);
}